.header {
  height: 50px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #15171c;
}
.header a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}
.header .active {
  color: yellowgreen;
}
.header nav {
  height: 100%;
}
.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.weather__app {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.app__left {
  /* width: 16rem; */
  width: 20%;
  height: 100vh;
  padding: 1.25rem;
  text-align: left;
}
.side__nav a {
  color: white;
  text-decoration: none;
  margin-left: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.side__nav a:active {
  border: 1px solid cornflowerblue;
}
.vertical__hr {
  height: calc(100vh - 1rem);
  border-left: 1px solid thistle;
}
.app__right {
  width: 80%;
  height: 100vh;
  padding: 1.25rem;
}
.footer {
  height: 50px;
  background-color: #15171c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > p {
  margin: 0;
  color: white;
}
