.header {
  height: 50px;
  width: 100%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #15171c;
}
.header a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}
.header .active {
  color: yellowgreen;
}
.header nav {
  height: 100%;
}
.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app {
  background-color: #282c34;
  min-height: calc(100vh - 50px);
  width: 100%;
  min-width: 300px;
  display: flex;
  /* justify-content: center; */
  color: white;
}
/* .weather__app {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  min-width: 300px;
  display: flex;
  color: white;
} */
.app__left {
  max-width: 350px;
  padding: 1.25rem;
  text-align: left;
}
.side__nav {
  width: 100%;
}
.side__nav li,
a {
  /* width: 100%; */
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  /* font-size: calc(10px + 1vmin); */
  margin: 0.5rem 0;
}
.side__nav a:active {
  color: #6495ed;
}

.vertical__hr {
  margin: 1rem 0;
  border-left: 1px solid thistle;
}
.app__right {
  width: 80%;
  padding: 1.25rem;
}
.footer {
  height: 50px;
  background-color: #15171c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > p {
  margin: 0;
  color: white;
}

/* -----Memo----- */
.memo__ul > li {
  list-style: circle;
  margin-left: 2rem;
}
.front__memo_p {
  margin-left: 1rem;
}
.memo__app {
  background-color: #282c34;
  /* min-height: calc(100vh - 40px); */
  height: calc(100vh - 40px);
  color: white;
  /* overflow: auto; */
}
